* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(17, 17, 27, 0.3);
}

#workspaces button {
  color: #cdd6f4;
}

#workspaces button:hover {
  background-color: rgba(30, 30, 46, 0.9);
}

#workspaces button.active {
  color: #89b4fa;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#language,
#bluetooth,
#workspaces button,
#network,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: rgba(30, 30, 46, 0.3);
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #94e2d5;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

#clock.simpleclock {
  color: #89b4fa;
}

#window {
  color: #cdd6f4;
}

#pulseaudio {
  color: #b4befe;
}

#pulseaudio.muted {
  color: #a6adc8;
}

#custom-logo {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
}

tooltip {
    background-color: #282f3d;
    color: #cad3f1;
    border: none;
}

#network {
    color: #89dceb;
}

#network.disconnected {
    color: #f38ba8;
}

#bluetooth {
    color: #89b4fa;
}

#bluetooth.disabled {
    color: #6c7086;
}

#bluetooth.connected {
    color: #a6e3a1;
}

#custom-notification.dnd {
    color: #ed333b;
}

#language {
    color: #cba6f7;
}
